<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/psy-lob-saw"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-7-oracle"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.caliper.Runner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="alignment.UnalignedMemoryAccessCostBenchmark -Doffset=60,0,1,2,3,4,5,6,7,8,16,24,32,40,48,56"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="psy-lob-saw"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-server"/>
<mapAttribute key="org.eclipse.jdt.launchingVM_INSTALL_TYPE_SPECIFIC_ATTRS_MAP">
<mapEntry key="org.eclipse.jdt.launching.JAVA_COMMAND" value="java"/>
</mapAttribute>
</launchConfiguration>
